<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">
	<resultMap type="kh.study.shop.item.vo.CategoryVO" id="category">
		<id column="CATE_CODE" property="cateCode"/>
		<result column="CATE_NAME" property="cateName"/>
		<result column="CATE_STATUS" property="cateStatus"/>
	</resultMap>
	
	<!-- 전체 카테고리 목록 조회 -->
	<select id="selectCateListAll" resultMap="category">
		SELECT CATE_CODE
			, CATE_NAME
			, CATE_STATUS
		FROM ITEM_CATEGORY
		ORDER BY CATE_CODE
	</select>
	
	<!-- 사용중인 카테고리 목록조회 -->
	<select id="selectCateListInUse" resultMap="category">
		SELECT CATE_CODE
			, CATE_NAME
			, CATE_STATUS
		FROM ITEM_CATEGORY
		WHERE CATE_STATUS = 'USE'
		ORDER BY CATE_CODE
	</select>
	
	<!-- 카테고리 등록 -->
	<insert id="insertCate">
		INSERT INTO ITEM_CATEGORY(
			CATE_CODE
			, CATE_NAME
		)VALUES(
			(SELECT 'CATE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CATE_CODE, 6))), 0) + 1, 3, 0) FROM ITEM_CATEGORY)
			, #{cateName}
		)
	</insert>

	<!-- ajax 실행 -->
	<update id="updateStatus">
		UPDATE ITEM_CATEGORY
		SET 
		CATE_STATUS = #{cateStatus}
		WHERE CATE_CODE = #{cateCode}
	</update>
	
	<select id="getNextItemCode" resultType="String">
	SELECT 'ITEM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ITEM_CODE, 6))), 0) + 1, 3, 0)
	FROM SHOP_ITEM	
	</select>
	
	<!-- 상품 등록 -->
	<insert id="insertItem">
		INSERT INTO SHOP_ITEM(
			ITEM_CODE
			, CATE_CODE
			, ITEM_NAME 
			, ITEM_PRICE 
			, ITEM_COMMENT 
			, ITEM_STOCK 
		)VALUES(
			#{itemCode}
			, #{cateCode}			
			, #{itemName}
			, #{itemPrice}
			, #{itemComment}
			, #{itemStock}
		)
	</insert>
	
	<!-- 회원목록조회 -->
	<select id="selectMemberList" resultMap="memberMapper.member">
		SELECT MEMBER_ID
			, MEMBER_NAME
			, DECODE(MEMBER_ROLE, 'MEMBER', '일반회원', 'ADMIN', '관리자') AS MEMBER_ROLE
		FROM SHOP_MEMBER
		ORDER BY MEMBER_NAME
	</select>
	
	<!-- 회원상세조회 -->
	<select id="selectMemberDetail" resultMap="memberMapper.member">
		SELECT MEMBER_ID
			, MEMBER_NAME
			, MEMBER_ADDR||' '||ADDR_DETAIL AS MEMBER_ADDR
			, MEMBER_EMAIL
			, DECODE(MEMBER_ROLE, 'ADMIN', '관리자', '일반회원') AS MEMBER_ROLE
			, DECODE(MEMBER_STATUS, 'ACTIVE', '활동중', '휴면계정') AS MEMBER_STATUS
		FROM SHOP_MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	
	<select id="selectItemListforAdmin" resultMap="itemMapper.item">
		SELECT ITEM_CODE
			, ITEM_NAME
			, ITEM_PRICE
			, ITEM_STOCK
			, TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
			, ITEM_STATUS
	        , CATE_NAME
		FROM SHOP_ITEM I, ITEM_CATEGORY C
	    WHERE I.CATE_CODE = C.CATE_CODE
 	    <if test="cateCode != null and !cateCode.equals('')">
	    AND I.CATE_CODE = #{cateCode}  
	    </if>
	    <if test="itemName != null and !itemName.equals('')">
	    AND UPPER(ITEM_NAME) LIKE UPPER('%'||#{itemName}||'%')
	    </if>
	    <if test="itemStock != null and !itemStock.equals('')">
	    AND ITEM_STOCK &lt; = #{itemStock}
	    </if>
	    <if test="fromDate != null and !fromDate.equals('')">
	    AND TO_CHAR(REG_DATE, 'YYYY-MM-DD') &gt; = #{fromDate} 
	    </if>
	    <if test="toDate != null and !toDate.equals('')">
	    AND TO_CHAR(REG_DATE, 'YYYY-MM-DD') &lt; = #{toDate}
	    </if>
	    <if test="itemStatus != null and !itemStatus.equals('')">
	    AND ITEM_STATUS = #{itemStatus}
	    </if> 
	</select>
	
	<!-- ajax-상품 재고변경 버튼 클릭시 실행 -->
	<update id="updateStock">
	UPDATE SHOP_ITEM
	SET
	ITEM_STOCK = #{itemStock}
	WHERE ITEM_CODE = #{itemCode}
	</update>
	
<!-- 상품 이미지 등록 -->
<insert id="insertImages">
	INSERT INTO ITEM_IMG(
		IMG_CODE
		, ORIGIN_NAME
		, ATTACHED_NAME
		, IS_MAIN
		, ITEM_CODE
	)              <!-- itemVO.getList(); 호출 -->
		<foreach collection="imgList" item="img" separator="UNION ALL" index="i" >
		SELECT (SELECT 'IMG_'|| LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE, 5))), 0) + 1 + #{i}, 3, 0)
				FROM ITEM_IMG)
			, #{img.originName}
			, #{img.attachedName}
			, #{img.isMain}
			, #{img.itemCode}
		FROM DUAL
		</foreach>
</insert>
	
	
	
</mapper>








