<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/base_layout"> 

<div layout:fragment="content">
	<style>
		.banner{
			background-color: aqua;
			position: absolute; /* 위치를 고정 */
			z-index: 10; /* 양수로 줄때, 화면을 튀어나오게 왼쪽 상단을 (0,0)으로 기준*/
			width: 8rem;
			height: 16rem;
			top: 10rem;
			right: 1rem;
		}
		.no-stop{
			padding: 0 10px 0 px;
			
		}
		.no-stop li{
			width: 50px;
			height: 30px;
			background-color: green;
			margin-bottom: 10px;
		}
	</style>
	
	<div class="banner">
		<th:block th:if="${cookie_itemName != null}">
			<span>오늘 본 상품</span>
			<div th:text="${cookie_itemName}"></div>
		</th:block>
	</div>
	
<!-- 	<ul class="no-stop">
		<li></li>
		<li></li>
		<li></li>
	</ul> -->
	
	
	<div class="row" >
		<div class="col-12">
			<div class="row">
		  	 <th:block th:each="item : ${itemList}"> 
				<div class="col-3">
				<div class="card" style="width: 15rem;" >
				  <img th:src="@{/images/} + ${item.imgList[0].attachedName}" class="card-img-top" alt="...">
			<!-- 	  <img th:src="@{'/images/' + ${item.imgList[0].attachedName}}" class="card-img-top" alt="...">
				  <img th:src="|@{/images/}${item.imgList[0].attachedName}|" class="card-img-top" alt="..."> -->
				  
				  
				  <div class="card-body">
				  	<div>
					  <!--  <h5 class="card-title" ><a th:href="@{/item/itemDetail(itemCode=${item.itemCode}) ></a></h5>-->
					    <h5 class="card-title" th:text="${item.itemName}" th:onclick="|location.href='@{/item/itemDetail(itemCode=${item.itemCode})}'|"></h5> 
					    <p class="card-text" th:text="${#numbers.formatCurrency(item.itemPrice)}"></p>
				 	</div>
				  </div>
				</div>
				</div>
		  	 </th:block> 
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	 	//애니메이션
		$('.no-stop li').hover(function(){
			$(this).stop().animate({width:'300px'}, 500); /* 0.5초동안 길이를 300px으로 늘이겠다. */
		}, function(){
			$(this).stop().animate({width:'50px'}, 500);
		});
	 	
		//오늘 본 상품 스크롤에 따른 위치 변화 애니메이션
		const bannerTag = document.querySelector('.banner')
		//선택한 태그의 디자인 정보를 가져옴
		const bannerStyle = window.getComputedStyle(bannerTag);
		let bannerTop = bannerStyle.getPropertyValue('top');
		//alert(bannerTop); 160px;
		
		//substr(시작인덱스, 가져올 글자 수)
		//해당 문제를 풀기 위해서는 -> substr(0, 글자길이 -2)
		//글자길이 -2 : 마지막에 붙는 px글자를 빼기 위해서.
		//160px -> 160만 가져온다.
		//bannerTop = bannerTop.substr(0, bannerTop.length - 2); -> 정수로 바꿔준다
		bannerTop = parseInt(bannerTop.substr(0, bannerTop.length - 2));
		
		//페이지에서 스크롤 변화가 일어나면 자동으로 실행되는 구문
		$(window).scroll(function(){
			//현재 스크롤바의 상단 좌표
			let currentTop = $(window).scrollTop();
				
			console.log(currentTop);
			
			
			//변경되어야 하는 div의 상단 위치 좌표
			const newPosition = currentTop + bannerTop + 'px'; /* 밑의 bannerTop에 px붙어야 하기 때문  */
			                   // 100      + 160px -> 260이어야 하는데 100160px이 나온다.
		/* 오늘 본 상품 div의 상단위치 = 현재 스크롤바 위치 + div의 상단위치
			                                    0           +160			
			                                   50           +160 */		
			                                   
			$('.banner').stop().animate({top:newPosition}, 500);                                   
		});
		
	</script>
</div>

</html>
